.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_center {
    display: flex;
    flex-direction: row;

}

.header_center_content {
    margin: 10px;
}

.header_right {
    display: flex;
    flex-direction: row;
}


.header_left_content {
    margin: 10px;
}