.filter_category_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter_category_left {
    display: flex;
    flex-direction: row;
}

.product_stats_heading{
    font-size: 20px;
    font-weight: 600;
  }

  .product_stats_stats{
    font-size: 20px;
    font-weight: 200;
    color: grey;
  }

  .filter_heading{
    font-size: 20px;
    font-weight: 600;
  }