.button {

    border: 1px solid black;
    border-radius: 2rem;
    padding: 10px;
    margin-bottom: 5px;
    padding: auto;
    color: black;
    background-color: white;

}


.select_option {
    border: none;
}